# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Facultate\FMI\2020-2021\Domeniul Informatică\Informatică\Semestrul 4\Medii de proiectare și programare\Laboratoare\Laborator 4\Tema Laborator 4\TemaLab4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
